@model MobileShop.Web.Models.PageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="single_top">
    <div class="single_grid">
        <h1>@Model.Name</h1>
        @Html.Raw(Model.Content)
        <div class="clearfix"> </div>
    </div>
</div>

