
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/plugins/spa/app.js"></script>
</head>
<body>
    <div ng-controller="schoolController"> 
        {{message}}
        <div ng-controller="teacherController">
            {{message}}
        </div>
        <div ng-controller="studentController">
            {{message}}
        </div>
    </div>
</body>
</html>
